openapi: 3.2.0
info:
  title: EFFECT Photonics WordPress REST Root API
  version: wp/v2
  summary: The live WordPress REST API served by the EFFECT Photonics corporate website.
  description: Derived verbatim from the route-discovery document the EFFECT Photonics web server publishes at https://effectphotonics.com/wp-json/ (fetched 2026-08-12, HTTP 200).
  x-derived-from: https://effectphotonics.com/wp-json/
  x-derived-on: '2026-08-12'
  x-apievangelist-method: derived
servers:
- url: https://effectphotonics.com
  description: Production
tags:
- name: Root
  description: REST API index / namespace discovery.
paths:
  /wp-json/:
    get:
      operationId: getRoot
      summary: GET /
      description: WordPress REST API route `/` in namespace ``, as advertised by the live route-discovery document at https://effectphotonics.com/wp-json/.
      tags:
      - Root
      parameters:
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/batch/v1:
    post:
      operationId: postBatchV1
      summary: POST /batch/v1
      description: WordPress REST API route `/batch/v1` in namespace ``, as advertised by the live route-discovery document at https://effectphotonics.com/wp-json/.
      tags:
      - Root
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                validation:
                  type: string
                  enum:
                  - require-all-validate
                  - normal
                  default: normal
                requests:
                  type: array
                  items:
                    type: object
              required:
              - requests
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope, observed verbatim on live 401/404 responses from this host. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - mcp_unauthorized
          - effect_invalid_attachment
        message:
          type: string
          examples:
          - Sorry, you are not allowed to do that.
          - MCP authentication required.
          - Not an attachment.
        data:
          type: object
          properties:
            status:
              type: integer
              examples:
              - 401
              - 404
  securitySchemes:
    mcpOAuth2:
      type: oauth2
      description: OAuth 2.1 authorization-code + PKCE (S256), as advertised by the provider's RFC 8414 metadata at https://effectphotonics.com/.well-known/oauth-authorization-server (fetched 2026-08-12, HTTP 200). Guards the `mcp` namespace; the protected-resource metadata (RFC 9728) names https://effectphotonics.com/wp-json/mcp/mcp-oauth-server.
      flows:
        authorizationCode:
          authorizationUrl: https://effectphotonics.com/oauth/authorize
          tokenUrl: https://effectphotonics.com/oauth/token
          refreshUrl: https://effectphotonics.com/oauth/token
          scopes:
            mcp: Access the site's Model Context Protocol server.
    wpNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie-authentication nonce. Advertised by the live server in its Access-Control-Allow-Headers response header (Authorization, X-WP-Nonce, Content-Disposition, Content-MD5, Content-Type).
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords — HTTP Basic with a user-issued application password. The live discovery document at https://effectphotonics.com/wp-json/ names https://effectphotonics.com/wp-admin/authorize-application.php as the authorization endpoint.
