openapi: 3.2.0
info:
  title: EFFECT Photonics WordPress REST Effect/v1 API
  version: wp/v2
  summary: The live WordPress REST API served by the EFFECT Photonics corporate website.
  description: 'Derived verbatim from the route-discovery document the EFFECT Photonics web server publishes at https://effectphotonics.com/wp-json/ (fetched 2026-08-12, HTTP 200). Every path, method, parameter
    name, type, default and enum in this document was read from that live response; nothing was invented.


    This is the content-management API of the corporate marketing site, not a product, network-management or optical-transceiver API. EFFECT Photonics is an optical-semiconductor company (coherent optical
    transceivers and monolithically integrated InP photonic circuits) and publishes no developer product API, no developer portal and no SDK. The surface is catalogued because it is a real, live, self-describing
    HTTP contract on the provider''s own host, because it carries a first-party custom namespace (`effect/v1`), and because the same install exposes two Model Context Protocol servers under the `mcp` namespace
    guarded by an OAuth 2.1 authorization server (see mcp/effect-photonics-mcp.yml).


    Only the WordPress core and first-party namespaces are represented (`wp/v2`, `wp-abilities/v1`, `mcp`, `oembed/1.0`, `effect/v1`, and the root index). Third-party plugin namespaces advertised by the
    same discovery document (akismet/v1, litespeed/v1, litespeed/v3, yoast/v1, connector/v1, duplicate-post/v1, wp-site-health/v1, wp-block-editor/v1) are intentionally excluded as vendor plugin internals.'
  x-derived-from: https://effectphotonics.com/wp-json/
  x-derived-on: '2026-08-12'
  x-apievangelist-method: derived
servers:
- url: https://effectphotonics.com
  description: Production
tags:
- name: effect/v1
  description: EFFECT Photonics' own custom REST namespace — a careers synchronisation trigger and a GLB (3D model) position endpoint used by the product visualiser.
paths:
  /wp-json/effect/v1:
    get:
      operationId: getEffectV1
      summary: GET /effect/v1
      description: WordPress REST API route `/effect/v1` in namespace `effect/v1`, as advertised by the live route-discovery document at https://effectphotonics.com/wp-json/.
      tags:
      - effect/v1
      parameters:
      - name: namespace
        in: query
        schema:
          default: effect/v1
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/effect/v1/careers/sync:
    post:
      operationId: postEffectV1CareersSync
      summary: POST /effect/v1/careers/sync
      description: WordPress REST API route `/effect/v1/careers/sync` in namespace `effect/v1`, as advertised by the live route-discovery document at https://effectphotonics.com/wp-json/.
      tags:
      - effect/v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp-json/effect/v1/glb-positions/{id}:
    get:
      operationId: getEffectV1GlbPositionsId
      summary: GET /effect/v1/glb-positions/{id}
      description: WordPress REST API route `/effect/v1/glb-positions/(?P<id>\d+)` in namespace `effect/v1`, as advertised by the live route-discovery document at https://effectphotonics.com/wp-json/.
      tags:
      - effect/v1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: postEffectV1GlbPositionsId
      summary: POST /effect/v1/glb-positions/{id}
      description: WordPress REST API route `/effect/v1/glb-positions/(?P<id>\d+)` in namespace `effect/v1`, as advertised by the live route-discovery document at https://effectphotonics.com/wp-json/.
      tags:
      - effect/v1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication required or capability missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST API error envelope, observed verbatim on live 401/404 responses from this host. Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
          - mcp_unauthorized
          - effect_invalid_attachment
        message:
          type: string
          examples:
          - Sorry, you are not allowed to do that.
          - MCP authentication required.
          - Not an attachment.
        data:
          type: object
          properties:
            status:
              type: integer
              examples:
              - 401
              - 404
  securitySchemes:
    mcpOAuth2:
      type: oauth2
      description: OAuth 2.1 authorization-code + PKCE (S256), as advertised by the provider's RFC 8414 metadata at https://effectphotonics.com/.well-known/oauth-authorization-server (fetched 2026-08-12,
        HTTP 200). Guards the `mcp` namespace; the protected-resource metadata (RFC 9728) names https://effectphotonics.com/wp-json/mcp/mcp-oauth-server.
      flows:
        authorizationCode:
          authorizationUrl: https://effectphotonics.com/oauth/authorize
          tokenUrl: https://effectphotonics.com/oauth/token
          refreshUrl: https://effectphotonics.com/oauth/token
          scopes:
            mcp: Access the site's Model Context Protocol server.
    wpNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie-authentication nonce. Advertised by the live server in its Access-Control-Allow-Headers response header (Authorization, X-WP-Nonce, Content-Disposition, Content-MD5,
        Content-Type).
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords — HTTP Basic with a user-issued application password. The live discovery document at https://effectphotonics.com/wp-json/ names https://effectphotonics.com/wp-admin/authorize-application.php
        as the authorization endpoint.
